/* 
    CSS Guide 

    1.  General Styles (Normalize)
    2.  Flexbox Items 
    3.  Header
    4.  Characters
    5.  Instruments
    6.  Footer
    7.  Modal
 */

/* 1. ---General Styles--- */

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Quicksand', sans-serif;
    background-image: repeating-linear-gradient(-45deg, #ffffff, #ffffff 6px, #f9f4f4 0, #f9f4f4 12px);
}

img,
embed,
object,
video,
picture {
    max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5 {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    transition: all .5s ease-in-out;
}

input,
textarea {
    display: block;
    margin: 0px;
    padding: 0px;
}

ul,
li {
    margin: 0px;
    padding: 0px;
}

section h2,
section h3,
section p {
    padding-left: 15px;
}

/* ---End of General Styles--- */

/* 2. Flexbox Items */

.flex-container-header {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flexbox-header {
    padding: 2px;
    text-align: center;
    width: 100px;
    margin-right: 10px;
}

.characters-space {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.instruments {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* ---End of Flexbox Items--- */


/* 3. ---Header--- */

header {
    background-color: #E60012;
}

.logo {
    padding: 8px;
}

.items {
    color: #fff;
    text-decoration: none;

}

.pipe-left {
    padding-left: 0px !important;
}

.items a {
    color: #fff;

}

.ul-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    margin: 10px 0px 10px 0px;
}

.li-none {
    pointer-events: none;
    padding: 0px !important;
    margin: 0px !important;
}

a i {
    transition: all 0.3s linear;
}

a:hover i {
    transform: scale(1);
    color: white;
}

.ul-nav a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
}

.li-animation li {
    display: inline-block;
    position: relative;
    color: white;
    margin-right: 40px;
}

.li-animation li::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.li-animation li:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* 4. ---Mobile Menu--- */

@keyframes bugfix {
    from {
        padding: 0;
    }

    to {
        padding: 0;
    }
}

@-webkit-keyframes bugfix {
    from {
        padding: 0;
    }

    to {
        padding: 0;
    }
}

#overlay-button {
    position: absolute;
    right: 1em;
    padding: 38px 11px;
    z-index: 5;
    cursor: pointer;
    user-select: none;
}

#overlay-button span {
    height: 3px;
    width: 25px;
    border-radius: 2px;
    background-color: #ffffff;
    position: relative;
    display: block;
    transition: all 0.2s ease-in-out;
}

#overlay-button span:before {
    top: -7px;
    visibility: visible;
}

#overlay-button span:after {
    top: 7px;
}

#overlay-button span:before,
#overlay-button span:after {
    height: 3px;
    width: 25px;
    border-radius: 2px;
    background-color: #ffffff;
    position: absolute;
    content: "";
    transition: all 0.2s ease-in-out;
}

#overlay-button:hover span,
#overlay-button:hover span:before,
#overlay-button:hover span:after {
    background: #0057B8;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox]:checked~#overlay {
    visibility: visible;
}

input[type=checkbox]:checked~#overlay-button:hover span,
input[type=checkbox]:checked~#overlay-button span {
    background: transparent;
}

input[type=checkbox]:checked~#overlay-button span:before {
    transform: rotate(45deg) translate(5px, 5px);
    opacity: 1;
}

input[type=checkbox]:checked~#overlay-button span:after {
    transform: rotate(-45deg) translate(5px, -5px);
}

#overlay {
    height: 100vh;
    width: 100vw;
    background: #E60012;
    z-index: 2;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

#overlay.active {
    visibility: visible;
}

#overlay ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    padding-left: 0;
    list-style-type: none;
}

#overlay ul li {
    padding: .75em;
}

#overlay ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.25em;
}

#overlay ul li a:hover {
    color: #0057B8;
}
/* ---End of Mobile Menu--- */


/* ---End of Header--- */


/* 4. ---Characters--- */

.audio-controls {
    text-align: center;
    padding: 0 10px 0 10px;
}

.volumeControl {
    margin: 2% 0 0 0;
    display: inline;
}

.hidden-char {
    opacity: 0;
}


/* ---End of Characters--- */


/* 5. ---Instruments--- */

.instruments-image {
    width: 150px;
    height: 110px;
}

.instruments-box {
    /*background-color: rgb(255, 255, 255);*/
    border: solid 1px rgb(204, 204, 204);
    border-radius: 10%;
    padding: 2px;
    width: 130px;
    height: 130px;
    margin-top: 15px;
    margin-right: 10px;
    display: block;
    padding: 8px;
    cursor: pointer;
}

#instrumentboxdiv1 {
    background-image: url("../images/mario-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(29, 29, 29, 0.104);
    background-blend-mode: multiply;
}

#instrumentboxdiv2 {
    background-image: url("../images/luigi-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(29, 29, 29, 0.104);
    background-blend-mode: multiply;
}

#instrumentboxdiv3 {
    background-image: url("../images/peach-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(29, 29, 29, 0.104);
    background-blend-mode: multiply;
}

#instrumentboxdiv4 {
    background-image: url("../images/toad-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(238, 238, 238, 0.355);
    background-blend-mode: lighten;
}

#instrumentboxdiv5 {
    background-image: url("../images/bowser-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(29, 29, 29, 0.206);
    background-blend-mode: multiply;
}

/* ---End of Instruments--- */


/* 6. ---Footer--- */

footer {
    margin-top: 200px;
    background-color: #E60012;
    bottom: 0;
    width: 100%;
}

/* ---End of Footer--- */


/* 7. ---Modal--- */

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 999;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.4);
}

/* Modal Content */
.modal-content {
    background-color: #0057B8;
    color: white;
    margin: auto;
    padding: 20px;
    width: 80%;
}

.modal-text {
    margin-top: 30px;
}

/* The Close Button */

.closeInfo,
.closeInstructions,
.closeCred {
    position: relative;
    top: 10px;
    left: 95%;
    color: white;
    font-size: 26px;
    font-weight: bold;
}

.closeInfo:hover,
.closeInfo:focus {
    color: #e7414e;
    text-decoration: none;
    cursor: pointer;
}

.closeInstructions:hover,
.closeInstructions:focus {
    color: #45be7c;
    text-decoration: none;
    cursor: pointer;
}

.closeCred:hover,
.closeCred:focus {
    color: #FFDF02;
    text-decoration: none;
    cursor: pointer;
}

/* ---End of Modal--- */